html, body {
    height: auto;
}

#info * + :where(h2,h3,h4) {
    margin-top: .5em;
}

#info :where(p:not(:last-child)) {
    margin-bottom: 1rem;
}

#result {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow: auto;
    width: 100%;
}
