@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

* + * {
    margin-top: 1.5em;
}

.margins-off {
    margin-top: 0;
}

.margins-off * + * {
    margin-top: 0;
}

body {
    margin-top: 0;
    padding: 2rem;
    padding-top: 0;
}
nav {
    margin-top: 0;
    margin-bottom: 4px;
}
nav > * {
    padding-right: 16px;
}

ul, ol, li {
    padding-left: 1em;
}
li {
    margin-top: 0;
}

input {
    padding: 0.25rem;
    border: 1px solid darkslategray;
    border-radius: 4px;
}
button {
    padding: 0.25rem;
    border: 1px solid darkslategray;
    border-radius: 4px;
}
button:hover {
    background: gray;
}
button:active {
    background: white;
}

table {
    width: 100%;
}
td {
    padding: 2px;
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
}

.header {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    flex-wrap: 1;
}
.header > * {
    flex-grow: 1;
}
.header > img {
    flex-grow: 0;
}
.search_bar {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.container {
    margin-top: 0;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.column {
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid darkslategray;
    border-radius: 4px;
    margin-top: 0;
}
.box h3 {
    background-color: black;
    color: white;
    padding: .5rem;
}
.box > * {
    padding: .5rem;
}

.fields {
    display: grid;
    width: 400px;
    grid-template-columns: 1fr 1fr;
}
