main {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1.5rem;
}
fieldset {
    padding: 1rem;
}
label {
    margin-right: .5em;
}
table, th, td {
    border: none;
}
td {
    text-align: right;
}
tbody th {
    font-weight: normal;
}
tbody th[rowspan] {
    font-variant: small-caps;
}
section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
