main {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1.5rem;
}
fieldset {
    padding: 1rem;
}
label {
    margin-right: .5em;
}
section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
data-viewer {
    --cursor: pointer;
}
