@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Lato&display=swap');

:root {
    --fs-xl: clamp(2rem, 3vw + 1rem, 3.5rem);
    --color-background: hsl(0, 0%, 99%);
    --color-background-shade: hsl(0, 0%, 97%);
    --color-surface-dark: hsl(0, 4%, 11%);
    --color-text: hsl(0, 0%, 13%);
    --color-text-light: hsl(0, 0%, 97%);
    --color-brand-light: hsl(240, 30%, 90%);
    --color-brand: hsl(240, 30%, 57%);
    --color-accent: hsl(240, 30%, 27%);
    --color-outline: hsl(28, 11%, 46%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    /* outline: 1px solid blue; */
}

html, body {
    background-color: var(--color-background);
    height: 100vh;
    color: var(--color-text);
}

@media (max-width: 1000px) {
    html, body {
        height: auto;
    }
}

body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 0;
    padding-block: 1rem;
    padding-inline: 2rem;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    border-bottom: 1px solid var(--color-text);
}

header > * {
    margin-top: 0;
    flex-grow: 1;
}

header > h1 {
    font-family: 'Bungee Hairline', cursive;
    font-size: var(--fs-xl);
}

header > h1:hover {
    cursor: pointer;
}

header > h1 > a {
    all: unset;
}

header > img {
    flex-grow: 0;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0;
    margin-bottom: 4px;
}

nav a {
    font-family: monospace;
}

nav li {
    display: block;
    position: relative;
}

nav li:hover,
nav li:focus-within {
    cursor: pointer;
    color: var(--color-accent);
}

/* nav li:focus-within a {
  outline: none;
} */

nav ul li ul {
  background-color: var(--color-background-shade);
  border-left: 1px solid var(--color-outline);
  visibility: hidden;
  opacity: 0;
  min-width: 10rem;
  position: absolute;
  left: 0;
  display: none;
}

nav ul li:hover > ul,
nav ul li:focus-within > ul,
nav ul li ul:hover,
nav ul li ul:focus {
  visibility: visible;
  opacity: 1;
  z-index: 99;
  display: block
}

nav ul li ul li {
  clear: both;
  background-color: var(--color-background-shade);
  opacity: 99%;
  padding: .25em;
  width: 100%;
}

/* LINKS */
a {
    color: var(--color-brand);
    text-decoration: none;
}

a:hover {
    color: var(--color-accent);
}

/* LISTS */
ul,
ol,
li {
    padding-left: 1em;
}

li {
    margin-top: 0;
}

/* INPUTS */
input {
    padding: .25rem;
    border: 1px solid var(--color-outline);
    border-radius: 4px;
}

input:where([type=radio], [type=checkbox]) {
    accent-color: var(--color-brand);
}


/* BUTTONS */
button {
    margin-top: 0;
    padding: .25rem;
    border: 1px solid var(--color-outline);
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
    background: var(--color-brand-light);
}

button:active {
    background: var(--color-text-light);
}


/* TABLES */
table {
    width: 100%;
    border-collapse: collapse;
}

tbody tr:hover {
    background-color: var(--color-background-shade);
}

th {
    cursor: pointer;
    text-align: left;
}

td, th {
    padding: .25em;
}


/* custom elements */

/* .searchbar {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-bottom: 1px solid var(--color-outline);
}

.searchbar__filters {
    column-width:300px;
    column-gap: 1rem;
    font-size: .8em;
}

.searchbar__filters > div {
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr 1fr;
    break-inside: avoid;
}

.searchbar__filters > div > * {
    justify-self: end;
}

.searchbar__controls {
    display: flex;
}

.searchbar__controls :last-child {
    margin-left: auto;
}

#result {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow: auto;
    width: 100%;
}

#nresults {
    font-size: .9em;
} */

#messageboard {
    position: absolute;
    left: 0;
    top: 0;
    background: var(--color-surface-dark);
    color: var(--color-text-light);
    font-size: .8em;
    padding: .5em;
}

#messageboard .klembord {
    color: var(--color-brand-light);
}

#messageboard .heart {
    color: hsl(0, 100%, 37%);
}

/* utilities */

.container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    overflow: hidden;
}

.column {
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid var(--color-outline);
    border-radius: 4px;
    margin-top: 0;
}

.box h3 {
    background-color: var(--color-text);
    color: var(--color-text-light);
    padding: .5rem;
}

.box > * {
    padding: .5rem;
}

.fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.copyable {
    border-bottom: 1px dotted var(--color-outline);
}

.copyable:hover {
    cursor: pointer;
}

.copyable:active {
    color: var(--color-outline);
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
}

[data-sort="asc"]::after {
    content: "▲";
    padding-inline: .25em;
}

[data-sort="desc"]::after {
    content: "▼";
    padding-inline: .25em;
}
