@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    /* outline: 1px solid blue */
}

html, body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 0;
    padding-block: 1rem;
    padding-inline: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

header>* {
    margin-top: 0;
    flex-grow: 1;
}

header>h1 {
    font-variant: small-caps;
}

header>img {
    flex-grow: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0;
    margin-bottom: 4px;
}

nav>* {
    margin-top: 0;
}

ul,
ol,
li {
    padding-left: 1em;
}

li {
    margin-top: 0;
}

input {
    padding: .25rem;
    border: 1px solid darkslategray;
    border-radius: 4px;
}

button {
    margin-top: 0;
    padding: .25rem;
    border: 1px solid darkslategray;
    border-radius: 4px;
}

button:hover {
    background: gray;
}

button:active {
    background: white;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

tr:hover {
    background-color: hsl(195, 53%, 89%);
}

th {
    text-align: left;
}

td, th {
    padding: .25em;
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
}

.searchbar {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.searchbar__filters {
    column-width:300px;
    column-gap: 1rem;
    font-size: .8em;
}

.searchbar__filters>div {
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr 1fr;
}

.searchbar__filters>div>* {
    justify-self: end;
}

.searchbar__controls {
    display: flex;
}

.searchbar__controls :last-child {
    margin-left: auto;
}

.container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    overflow: hidden;
}

.column {
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid darkslategray;
    border-radius: 4px;
    margin-top: 0;
}

.box h3 {
    background-color: black;
    color: white;
    padding: .5rem;
}

.box>* {
    padding: .5rem;
}

.fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.copyable {
    border-bottom: 1px dotted darkslategray;
}

.copyable:hover {
    cursor: pointer;
}

.copyable:active {
    font-weight: bold;
}

#result {
    overflow: scroll;
    width: 100%;
}

#nresults {
    font-size: .9em;
}
