<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ nested }}static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ nested }}static/style.css">
</head>

<body>
    <header class="margins-off">
        <h1>{{ self.title() }}</h1>
        <nav>
            <code><a href="{{ nested }}index.html">uro</a></code>
            {% for page in pages %}
            <code><a href="{{ nested }}content/{{ page }}.html">{{ page }}</a></code>
            {% endfor %}
            {% block nav %}{% endblock %}
        </nav>
        <img src="{{ nested }}static/UU_logo_NL_ZWART.png" alt="Universiteit Utrecht" width="320px">
    </header>
    <div class="search_bar margins-off">
        {% block search_bar %}{% endblock %}
    </div>
    <div class="container column margins-off">
        {% block content %}{% endblock %}
        <div id="result"></div>
        <div id="info" class="box"></div>
    </div>
    <code><a href="mailto:l.c.vriend@uu.nl" class="monospace">feedback/suggesties</a></code>
</body>
<script src="{{ nested }}js/utilities.js"></script>
{% block script %}{% endblock %}
</html>
