{% extends '__base__.jinja' %}

{% block script %}
<script src="{{ nested }}js/interface_referentie.js"></script>
<script>
    let headernames = {{ inputs }}
    let data
    fetch("{{ nested }}{{ data }}")
        .then(response => response.json())
        .then(json => data = json)
        .then(data => showRecords(data))
</script>
{% endblock %}

{% block search_bar %}
<div class="searchbar">
    <div class="searchbar__filters">
    {% for input in inputs %}
        <div>
            <label for="{{ input }}">{{ input }}</label>
            <input type="text" id="{{ input }}">
        </div>
    {% endfor %}
    </div>
    <div class="searchbar__controls">
        <button id="wisfilters">wis filters</button>
        <div id="nresults"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container column">
    <div id="result"></div>
</div>
{% endblock %}
