{% extends '__base__.jinja' %}

{% block script %}
    <script type="module" src="https://flatbread-dataframes.github.io/flatbread-wc-table-display/src/viewer.js"></script>
{% endblock script %}

{% block content %}
<main>
    <section class="data">
        <data-viewer></data-viewer>
    </section>
    <section class="settings">
        <label for="collegejaar">Collegejaar
            <select name="collegejaar" id="collegejaar" autocomplete="off">
                <option value="2025" selected>2025</option>
                <option value="2024">2024</option>
                <option value="2023">2023</option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
            </select>
        </label>
        <study-period-selector></study-period-selector>
        <fieldset class="getalsnotatie">
            <legend>Getalsnotatie</legend>
            <div>Format</div>
            <div>
                <input type="checkbox" id="as-currency" name="as-currency" autocomplete="off" checked>
                <label for="as-currency">formatteer als bedrag</label>
            </div>
            <div>
                <input type="checkbox" id="sep-thousands" name="sep-thousands" autocomplete="off" checked>
                <label for="sep-thousands">scheidingsteken</label>
            </div>
            <div>Taal</div>
            <div>
                <input type="radio" id="locale-nl" name="locale" value="nl-NL" autocomplete="off" checked>
                <label for="locale-nl">Nederlands</label>
            </div>
            <div>
                <input type="radio" id="locale-en" name="locale" value="en-US" autocomplete="off" >
                <label for="locale-en">Engels</label>
            </div>
        </fieldset>
        <div>
            <h4>Flexstuderen</h4>
            <label for="aantal-ec-flex">Aantal EC</label>
            <input type="number" name="aantal-ec-flex" id="aantal-ec-flex">
        </div>
        <output class="copyable" id="te-betalen-bedrag-flex"></output>
    </section>
</main>
{% endblock content %}
