{% extends "_base_.jinja" %}
{% set nested = '../' %}

{% block title %}land{% endblock %}

{% block search_bar %}
<div>
    <label for="zoek_code">code</label>
    <input type="text" id="zoek_code">
</div>
<div>
    <label for="zoek_name">naam</label>
    <input type="text" id="zoek_naam">
</div>
{% endblock %}

{% block script %}
<script>
    let data
    fetch("../data/land.json")
        .then(response => response.json())
        .then(json => data = json)
</script>
<script src="../js/interface_default.js"></script>
{% endblock %}