{% extends '__base__.jinja' %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ nested }}js/jquery.highlight-within-textarea.js"></script>
{% endblock %}

{% block content %}
<div class="autogrid">
{% for tekst in standaardteksten %}
<div>
<h3>{{ tekst.title }}</h3>
<textarea id="{{ tekst.id }}">{{ tekst.content }}</textarea>
<button onclick="copyTextFromElementWithId('{{ tekst.id }}')">Copy</button>
</div>
<script defer>
    $('textarea').highlightWithinTextarea({
        highlight: /\[.*\]/gi
    })
</script>
{% endfor %}
</div>
{% endblock %}
