{% extends "_base_.jinja" %}
{% set nested = '../' %}

{% block title %}standaardteksten{% endblock %}

{% block search_bar %}
{% endblock %}

{% block nav %}
<code><a href="../index.html">uro</a></code>
<code><a href="../content/vakken.html">vakken</a></code>
<code><a href="../content/scholen.html">scholen</a></code>
{% endblock %}

{% block content %}
<h3>Aanvullende vakkeneisen hbo-propedeuse</h3>
<div>
    <textarea id="vakeis_pbh" cols="70" rows="5">
We hebben de hbo-verklaring/diploma geaccepteerd. Er gelden echter aanvullende eisen als je op basis van een hbo-p wilt inschrijven:
    [URO]
Zie: www.uu.nl/bachelors > opleiding > toelating > nl voor meer informatie. Upload ook de certificaten waaruit blijkt dat je aan de aanvullende eisen voldoet.
    </textarea>
    <button onclick="toClipboard('vakeis_pbh')">Copy</button>
</div>

<h3>Cijferlijst bij hbo-propedeuse</h3>
<div>
    <textarea id="cijferlijst_pbh" cols="70" rows="5">
Je hebt een cijferlijst opgestuurd. Deze kunnen we niet verwerken. We hebben één van de volgende documenten nodig: een scan van het getuigschrift of een afstudeerverklaring van de hbo-instelling.

Zie https://www.uu.nl/bachelors/sites/default/files/oo_hboverklaring.pdf voor de eisen die we stellen aan de afstudeerverklaring.
    </textarea>
    <button onclick="toClipboard('cijferlijst_pbh')">Copy</button>
</div>

<h3>Verklaring zonder examendatum</h3>
<div>
    <textarea id="verklaring_pbh" cols="70" rows="5">
Het document dat je hebt geüpload vermeld niet expliciet dat de propedeuse is behaald en vermeld geen examendatum. Deze kunnen we niet verwerken. We hebben één van de volgende documenten nodig: een scan van het getuigschrift of een afstudeerverklaring van de hbo-instelling.

Zie https://www.uu.nl/bachelors/sites/default/files/oo_hboverklaring.pdf voor de eisen die we stellen aan de afstudeerverklaring.
    </textarea>
    <button onclick="toClipboard('verklaring_pbh')">Copy</button>
</div>
{% endblock %}

{% block script %}
<script>
    function toClipboard(id) {
        /* Get the text field */
        var copyText = document.getElementById(id);

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        /* Copy the text inside the text field */
        document.execCommand("copy");
    }
</script>
{% endblock %}