{% extends '__base__.jinja' %}

{% block search_bar %}
<div class="searchbar__filters">
    <div>
        <label for="search">opleidingscode</label>
        <input type="text" id="search" class="query-input">
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container column">
    <div id="result"></div>
    <div id="info" class="box"></div>
</div>
{% endblock %}
