{% extends "_base_.jinja" %}
{% set nested = '' %}

{% block title %}uro{% endblock %}

{% block search_bar %}
<label for="search">opleidingscode</label>
<input type="text" id="search">
{% endblock %}

{% block script %}
<script src="js/interface_uro.js"></script>
{% endblock %}
