{% extends '_ref_.jinja' %}
{% set name = 'uro.zoeken' %}
{% set file = '../data/uro.json' %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ nested }}static/style.uro_zoeken.css">
{% endblock %}
